*{
    margin: 0;
    padding: 0;
    text-decoration: none;
  
  }
  body {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -0.022em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background-color: white;
    color: #1D1D1F;
    font-style: normal;
    display: flex;
    flex-direction: column;
  }
  header{
  width:100%;
  opacity: .96;
  z-index: 99;
}
  a{
    cursor: pointer;

  }
  p{
    font-size: 18px;
    margin: 16px 0;
  }
  button{
    cursor: pointer;
  }
  a:hover{
    text-decoration: underline;
  }
  img{
    padding-bottom: 24px;
  }
.background-banner{
    display: flex;
    justify-content: center;  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 1.2%;
    max-width: 100%;
    height:80vh;
    overflow: hidden;
    background-image: url('resources/legal-hero_large.jpg');
}

.background-banner img{
    height: 500px;
    min-width: 100%;
}
#banner-text{
    padding-top: 200px;
    padding-right: 680px;
    color: #FFFFFF;
    position: absolute;
    width: 300px;
    height: 180px;
    font-size: 180%;
}
.big-container{
    justify-content: center;
    display: flex;

}
#first-row{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 160px
}
#second-row{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    width: 327px;
    text-align: left;
    padding: 64px 0;
}
.container2{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 64px 0;
}
.container h1{
    font-size: 32px;
    color: #1D1D1F;
}

#hardware-warranties img{
    width: 169px;
}

#license-agreements img{
    width: 128px;
}

#ethics-compliance img{
    width: 74px;
}

#sales-support img{
    width: 52px;
}
#internet-services img{
    width: 77px;
}
#privacy-policy{
    width: 980px;
}
#privacy-policy img{
    width: 60px;
}
#intel-prop img{
    width: 74px;
}
#more-res img{
    width: 59px;
}
#last-row{
    padding: 64px 0;
}

/*HEADER STARTS*/
nav{
    background: #fbfbfd;
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apple-logo{
    margin: 36px 1vw 14px 0;
    cursor: pointer;
}

nav ul li{
    display: inline-block;
    line-height: 40px;
    margin: 0 1vw;
}
nav ul li a{
    color: black;
    font-size: 12px;
}
nav .icons{
    color: blacl;
    margin: 0 16px;
    font-size: 12px;
    cursor: pointer;

}
.checkbtn{
    font-size: 16px;
    margin: 8px 0 7px 0;
    color: #333336;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 16px;
}
#check{
    display: none;
}

.mega-menu {
   display: none;
    position: absolute;
    top: 40px;
    background: #fbfbfd;
    width: 100%;
    height: auto;
    left: 0;
    float: left;
    overflow: hidden;
    padding: 40px;
  }
  
  .row {
    float: left;
    background-color: #fbfbfd;
    margin-right: 48px;
  }
  .row span{
    color: #333336;
    font-size: 12px;
    font-weight: 300;
    margin-left: 13px;
  }
  
  .row a {
    float: none;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .row a h1{
    font-size: 24px;
    color: #333336;
  }
  .row a h3{
    color: #333336;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: -16px;
  }

  .row a h6{
    font-weight: 600;
    font-size: 12px;
    color: #333336;
    margin-top: 8px;
    margin-bottom: -16px;
  }
  .mega-menu-links li {
    display: block;
  }
  .content{
    margin-left: 80px;
  }
  .content:after {
    content: "";
    display: table;
    clear: both;
  }

  nav ul li:hover .mega-menu {
    display: block;
    width: 100%;
  }
  nav ul li a:hover{
    color: black;
  }
  nav .icons:hover{
    color: black;
  }
  header:hover{
    opacity: 1
  }


@media (max-width: 833px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #161617;
        top: -100%;
        left: 0;
        transition: all .5s;
    }
    nav ul li{
        display: block;
    }
    nav ul li a{
        font-size: 28px;
        font-weight: 600;
        color: #d8d5ce;
        margin-left: 40px;
    }
    .apple-logo{
        position: absolute;
        left: 16px;
    }
    .icons-container{
        position: absolute;
        right: 48px;
    }
    .icons-container .icons{
        margin: 0 16px;

    }


    #check:checked ~ .apple-logo,
    #check:checked ~ .icons-container .icons {
        display: none;
    }

    #check:checked ~ ul {
        top: 40px;
    }

    nav ul li:hover .mega-menu{
      display: none;
    }
}

/*HEADER ENDS*/


/*FOOTER STARTS*/
.footer-wrapper{
    background-color: #f5f5f7; 
  
  }
  footer {
    color: #959495;
    padding: 20px 0;
    text-align: center;
    width: 90%;
    margin: auto;
  }
  
  .footer-content {
    text-align: left;
    font-size: 12px;
  }
  
  a{
    color: #38443c;
  }
  
  hr {
    margin: 20px 0;
  }
  .footer-content p{
    font-size: 12px;
  }
  .footer-wrapper .top{
    width: 85%;
    margin: auto;
    display: flex;
    margin-top: 0px;
  }
  .footer-wrapper .top p{
    font-size: 12px;
    color: #959495;
    margin-left: 16px;
    padding: 22px;
  }
  
  .footer-elements {
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
    margin: 0 32px;
  }
  
  .footer-elements p {
    margin: 5px 0;
  }
  
  .footer-elements header{
    font-weight: 600;
    color: #38443c;
    margin-bottom: 12px;
  }
  .footer-elements a{
    text-decoration: none;
    display: block;
    margin: 16px 0;
  }
  
  .footer-elements .last-element{
    margin-bottom: 32px;
  }
  .footer-content .end-element{
    margin-top: 16px;
    margin-bottom: -12px;
  }
  .footer-content .end-element a{
    color: #1177bb;
  }
  .footer-elements a:hover{
    text-decoration: underline;
  }
  
  .footer-end {
    display: flex; 
    justify-content: space-between; 
  }
  
  .footer-end p {
    margin: 0; 
    font-size: 12px;
  }
  
  .footerNav {
    list-style: none; 
    padding: 0; 
    display: flex; 
    gap: 16px; 
    margin-right: 80px;
  }
  
  .footerNav li {
    display: inline; 
  }
  .footerNav li:not(:last-child)::after {
    content: "|";
    margin: 0 8px;
  }
  .footerNav li a{
    text-decoration: none;
    font-size: 12px;
  
  }
  
  .footerNav li a:hover{
    text-decoration: underline;
  }
  
  @media(max-width: 1154px){
    .footer-elements{
        margin: 0 40px 0 0;
        transition: margin 0.5s;
    }
    .footerNav{
      gap: 8px; 
      margin-right: 40px;
    }
    footer{
        width: 90%;
    }
  }
  @media(max-width: 940px){
    .footer-elements{
        margin: 0 32px 0 0;
        transition: margin 0.5s;
    }
  }
  @media(max-width: 888px){
    .footer-elements{
        margin: 0 20px 0 0;
        transition: margin 0.5s;
    }
    .footerNav{
      gap: 0; 
      margin-right: 24px;
    }
  }
  
  /*FOOTER ENDS*/